body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .highlight {
    background-color: rgb(75, 75, 206);
  }
  
  .dynamic-paragraph {
    color: #007acc;
    font-weight: bold;
  }
  